<style>
    .footer{
        margin: 0;
        margin-bottom: 0;
        background-color: #000;
        height: 30vh;
    }
    .footerLogo{
        font-size: 26px;
        padding-top: 23px;
        padding-bottom: 20px;
        color:#fff;
        text-align: center;
    }
    .footerTextArea{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footerTextArea a{
        text-decoration: none;
        color:#fff;
        text-align: center;
    }
</style>

<footer class='footer'>
<h3 class='footerLogo'>すてっぷ</h3>
<div class='footerTextArea'>
    <a href="index.html">HOME</a>
    <a href="aboutus.html">About Us</a>
    <a href="contact.html">contact</a>
    <a href="">その他</a>
    <a href="admin.html">管理者ページ</a>
</div>
</footer>
